# Airbnb EDA & Cleaning

In [1]:
import itertools
import numpy as np
import pandas as pd 
from numbers import Number
from scipy import stats
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import OrdinalEncoder
%matplotlib inline

In [2]:
df = pd.read_csv("/Users/weatherford/Documents/Flatiron/Phase_2_Housing_Project/data/airbnb_listings_data.csv")
df.columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365', 'number_of_reviews_ltm', 'license'],
      dtype='object')

In [3]:
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,580365544480383496,Adorable fireplace studio minutes from airport,3436665,Hanna,Delridge,Highland Park,47.51075,-122.34122,Entire home/apt,149,2,5,2022-05-10,1.70,1,28,5,NaN
1,5164039,NW Luxury and Private Beach! Near Airport,26710300,Jack,West Seattle,Arbor Heights,47.49770,-122.37003,Entire home/apt,98,3,11,2018-08-11,0.21,1,161,0,NaN
2,33448826,4 BR/四房间. 11min to Sea-Tac Airport近机场. Englis...,65554077,Luo(荦),Delridge,Highland Park,47.50452,-122.34009,Entire home/apt,335,2,30,2021-10-24,0.78,1,293,10,NaN
3,6606,"Fab, private seattle urban cottage!",14942,Joyce,Other neighborhoods,Wallingford,47.65444,-122.33629,Entire home/apt,99,30,157,2021-09-14,1.00,2,84,6,str-opli-19-002622
4,9419,Glorious sun room w/ memory foambed,30559,Angielena,Other neighborhoods,Georgetown,47.55017,-122.31937,Private room,80,2,156,2022-04-03,1.08,8,331,8,STR-OPLI-19-003039

In [4]:
df1 = df.drop(columns=['host_id', 'name','host_name','minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365', 'number_of_reviews_ltm', 'license'])

In [5]:
df1.columns

Index(['id', 'neighbourhood_group', 'neighbourhood', 'latitude', 'longitude',
       'room_type', 'price'],
      dtype='object')

In [6]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5355 entries, 0 to 5354
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   5355 non-null   int64
 1   neighbourhood_group  5355 non-null   object
 2   neighbourhood        5355 non-null   object
 3   latitude             5355 non-null   float64
 4   longitude            5355 non-null   float64
 5   room_type            5355 non-null   object
 6   price                5355 non-null   int64
dtypes: float64(2), int64(2), object(3)
memory usage: 293.0+ KB

In [7]:
df1['neighbourhood'].unique()

array(['Highland Park', 'Arbor Heights', 'Wallingford', 'Georgetown',
       'Fairmount Park', 'Whittier Heights', 'Loyal Heights', 'Eastlake',
       'Alki', 'South Delridge', 'Fremont', 'Atlantic', 'Broadview',
       'Green Lake', 'North Queen Anne', 'Portage Bay',
       'Lower Queen Anne', 'Phinney Ridge', 'Harrison/Denny-Blaine',
       'Crown Hill', 'Maple Leaf', 'East Queen Anne', 'Lawton Park',
       'Pioneer Square', 'Mid-Beacon Hill', 'West Queen Anne',
       'North Beacon Hill', 'Mount Baker', 'Belltown', 'First Hill',
       'Ravenna', 'Broadway', 'Stevens', 'West Woodland', 'North Admiral',
       'Greenwood', 'International District', 'Haller Lake',
       'Madison Park', 'Fauntleroy', 'Wedgwood', 'Cedar Park',
       'University District', 'Columbia City', 'Madrona', 'Mann',
       'Matthews Beach', 'Genesee', 'Central Business District', 'Minor',
       'Leschi', 'Briarcliff', 'Sunset Hill', 'North Delridge', 'Bryant',
       'Adams', 'North Beach/Blue Ridge', 'Seward Park', 'Pike-Market',
       'High Point', 'Yesler Terrace', 'Bitter Lake', 'Brighton',
       'Interbay', 'View Ridge', 'Windermere', 'Harbor Island', 'Dunlap',
       'Rainier Beach', 'Seaview', 'Victory Heights',
       'Southeast Magnolia', 'Olympic Hills', 'Roosevelt', 'Laurelhurst',
       'Gatewood', 'North College Park', 'Riverview', 'Meadowbrook',
       'Pinehurst', 'Montlake', 'Rainier View', 'South Beacon Hill',
       'Westlake', 'Industrial District', 'South Park',
       'South Lake Union', 'Roxhill', 'Holly Park', 'Sand Point'],
      dtype=object)

In [8]:
df1

,id,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price
0,580365544480383496,Delridge,Highland Park,47.51075,-122.34122,Entire home/apt,149
1,5164039,West Seattle,Arbor Heights,47.49770,-122.37003,Entire home/apt,98
2,33448826,Delridge,Highland Park,47.50452,-122.34009,Entire home/apt,335
3,6606,Other neighborhoods,Wallingford,47.65444,-122.33629,Entire home/apt,99
4,9419,Other neighborhoods,Georgetown,47.55017,-122.31937,Private room,80
...,...,...,...,...,...,...,...
5350,16733665,Cascade,Eastlake,47.64439,-122.32766,Entire home/apt,249
5351,25846790,Northgate,Pinehurst,47.74243,-122.32117,Entire home/apt,214
5352,49692446,Delridge,South Delridge,47.51330,-122.35545,Entire home/apt,150
5353,587785014993543336,Other neighborhoods,Sand Point,47.70310,-122.24173,Entire home/apt,171
5354,53475139,West Seattle,Alki,47.57556,-122.42070,Entire home/apt,65

In [12]:
import geopy

In [13]:
user_agent1 = 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/104.0.0.0 Safari/537.36'

In [15]:
from geopy.geocoders import Nominatim
from geopy.distance import geodesic 
import geopy 
geocoder = Nominatim(user_agent = user_agent1)


#for x in list(zip(df1.lat, df.long)): 
    

#get_geocoder_for_service("nominatim")
#geocoder = Nominatim(user_agent = 'T')

In [16]:
def get_zipcode(df, geolocator, lat_field, lon_field):
    location = geocoder.reverse((df[lat_field], df[lon_field]))
    return location.raw['address']['postcode']

In [ ]:
geocoder.reverse((df['lat_field'], df[lon_field]))

In [23]:
get_zipcode(df1, Nominatim, 47.55017, -122.32117)

KeyError: 47.55017