# Airbnb EDA & Cleaning

In [1]:
import itertools
import numpy as np
import pandas as pd 
from numbers import Number
from scipy import stats
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import OrdinalEncoder
%matplotlib inline

In [2]:
df = pd.read_csv("/Users/weatherford/Documents/Flatiron/Phase_2_Housing_Project/data/airbnb_listings_data.csv")
df.columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365', 'number_of_reviews_ltm', 'license'],
      dtype='object')

In [3]:
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,580365544480383496,Adorable fireplace studio minutes from airport,3436665,Hanna,Delridge,Highland Park,47.51075,-122.34122,Entire home/apt,149,2,5,2022-05-10,1.70,1,28,5,NaN
1,5164039,NW Luxury and Private Beach! Near Airport,26710300,Jack,West Seattle,Arbor Heights,47.49770,-122.37003,Entire home/apt,98,3,11,2018-08-11,0.21,1,161,0,NaN
2,33448826,4 BR/四房间. 11min to Sea-Tac Airport近机场. Englis...,65554077,Luo(荦),Delridge,Highland Park,47.50452,-122.34009,Entire home/apt,335,2,30,2021-10-24,0.78,1,293,10,NaN
3,6606,"Fab, private seattle urban cottage!",14942,Joyce,Other neighborhoods,Wallingford,47.65444,-122.33629,Entire home/apt,99,30,157,2021-09-14,1.00,2,84,6,str-opli-19-002622
4,9419,Glorious sun room w/ memory foambed,30559,Angielena,Other neighborhoods,Georgetown,47.55017,-122.31937,Private room,80,2,156,2022-04-03,1.08,8,331,8,STR-OPLI-19-003039

In [4]:
df1 = df.drop(columns=['host_id', 'name','host_name','minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365', 'number_of_reviews_ltm', 'license'])

In [5]:
df1.columns

Index(['id', 'neighbourhood_group', 'neighbourhood', 'latitude', 'longitude',
       'room_type', 'price'],
      dtype='object')

In [6]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5355 entries, 0 to 5354
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   5355 non-null   int64
 1   neighbourhood_group  5355 non-null   object
 2   neighbourhood        5355 non-null   object
 3   latitude             5355 non-null   float64
 4   longitude            5355 non-null   float64
 5   room_type            5355 non-null   object
 6   price                5355 non-null   int64
dtypes: float64(2), int64(2), object(3)
memory usage: 293.0+ KB

In [7]:
df1['neighbourhood'].unique()

array(['Highland Park', 'Arbor Heights', 'Wallingford', 'Georgetown',
       'Fairmount Park', 'Whittier Heights', 'Loyal Heights', 'Eastlake',
       'Alki', 'South Delridge', 'Fremont', 'Atlantic', 'Broadview',
       'Green Lake', 'North Queen Anne', 'Portage Bay',
       'Lower Queen Anne', 'Phinney Ridge', 'Harrison/Denny-Blaine',
       'Crown Hill', 'Maple Leaf', 'East Queen Anne', 'Lawton Park',
       'Pioneer Square', 'Mid-Beacon Hill', 'West Queen Anne',
       'North Beacon Hill', 'Mount Baker', 'Belltown', 'First Hill',
       'Ravenna', 'Broadway', 'Stevens', 'West Woodland', 'North Admiral',
       'Greenwood', 'International District', 'Haller Lake',
       'Madison Park', 'Fauntleroy', 'Wedgwood', 'Cedar Park',
       'University District', 'Columbia City', 'Madrona', 'Mann',
       'Matthews Beach', 'Genesee', 'Central Business District', 'Minor',
       'Leschi', 'Briarcliff', 'Sunset Hill', 'North Delridge', 'Bryant',
       'Adams', 'North Beach/Blue Ridge', 'Seward Park', 'Pike-Market',
       'High Point', 'Yesler Terrace', 'Bitter Lake', 'Brighton',
       'Interbay', 'View Ridge', 'Windermere', 'Harbor Island', 'Dunlap',
       'Rainier Beach', 'Seaview', 'Victory Heights',
       'Southeast Magnolia', 'Olympic Hills', 'Roosevelt', 'Laurelhurst',
       'Gatewood', 'North College Park', 'Riverview', 'Meadowbrook',
       'Pinehurst', 'Montlake', 'Rainier View', 'South Beacon Hill',
       'Westlake', 'Industrial District', 'South Park',
       'South Lake Union', 'Roxhill', 'Holly Park', 'Sand Point'],
      dtype=object)

In [8]:
df1

,id,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price
0,580365544480383496,Delridge,Highland Park,47.51075,-122.34122,Entire home/apt,149
1,5164039,West Seattle,Arbor Heights,47.49770,-122.37003,Entire home/apt,98
2,33448826,Delridge,Highland Park,47.50452,-122.34009,Entire home/apt,335
3,6606,Other neighborhoods,Wallingford,47.65444,-122.33629,Entire home/apt,99
4,9419,Other neighborhoods,Georgetown,47.55017,-122.31937,Private room,80
...,...,...,...,...,...,...,...
5350,16733665,Cascade,Eastlake,47.64439,-122.32766,Entire home/apt,249
5351,25846790,Northgate,Pinehurst,47.74243,-122.32117,Entire home/apt,214
5352,49692446,Delridge,South Delridge,47.51330,-122.35545,Entire home/apt,150
5353,587785014993543336,Other neighborhoods,Sand Point,47.70310,-122.24173,Entire home/apt,171
5354,53475139,West Seattle,Alki,47.57556,-122.42070,Entire home/apt,65

In [9]:
import geopy

In [10]:
user_agent1 = 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/104.0.0.0 Safari/537.36'

Geocoder Attempts

In [34]:
pip install arcgis

Requirement already satisfied: arcgis in /Users/weatherford/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages (2.0.1)
Requirement already satisfied: urllib3 in /Users/weatherford/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages (from arcgis) (1.25.10)
Requirement already satisfied: numpy>=1.16.2 in /Users/weatherford/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages (from arcgis) (1.18.5)
Requirement already satisfied: requests-ntlm in /Users/weatherford/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages (from arcgis) (1.1.0)
Requirement already satisfied: pyshp>=2 in /Users/weatherford/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages (from arcgis) (2.3.1)
Requirement already satisfied: requests-toolbelt in /Users/weatherford/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages (from arcgis) (0.9.1)
Requirement already satisfied: python-certifi-win32 in /Users/weatherford/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages (from arcgis) (1.6.1)
Requirement already satisfied: requests-oauthlib in /Users/weatherford/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages (from arcgis) (1.3.0)
Requirement already satisfied: widgetsnbextension>=3 in /Users/weatherford/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages (from arcgis) (3.5.1)
Requirement already satisfied: notebook in /Users/weatherford/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages (from arcgis) (6.1.4)
Requirement already satisfied: lxml in /Users/weatherford/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages (from arcgis) (4.5.2)
Requirement already satisfied: matplotlib in /Users/weatherford/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages (from arcgis) (3.3.1)
Requirement already satisfied: lerc in /Users/weatherford/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages (from arcgis) (0.1.0)
Requirement already satisfied: cryptography in /Users/weatherford/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages (from arcgis) (3.1.1)
Requirement already satisfied: cachetools in /Users/weatherford/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages (from arcgis) (4.1.1)
Requirement already satisfied: requests-gssapi in /Users/weatherford/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages (from arcgis) (1.2.3)
Requirement already satisfied: jupyterlab in /Users/weatherford/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages (from arcgis) (2.3.2)
Requirement already satisfied: geomet in /Users/weatherford/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages (from arcgis) (0.3.0)
Requirement already satisfied: ipywidgets>=7 in /Users/weatherford/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages (from arcgis) (7.5.1)
Requirement already satisfied: jupyter-client<=6.1.12 in /Users/weatherford/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages (from arcgis) (6.1.7)
Requirement already satisfied: pandas>=1.3.5 in /Users/weatherford/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages (from arcgis) (1.4.4)
Requirement already satisfied: ujson>=3 in /Users/weatherford/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages (from arcgis) (5.4.0)
Requirement already satisfied: six in /Users/weatherford/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages (from arcgis) (1.15.0)
Requirement already satisfied: keyring>=23.3.* in /Users/weatherford/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages (from arcgis) (23.9.1)
Requirement already satisfied: requests>=1.27.1 in /Users/weatherford/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages (from arcgis) (2.24.0)
Requirement already satisfied: ntlm-auth>=1.0.2 in /Users/weatherford/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages (from requests-ntlm->arcgis) (1.5.0)
Requirement already satisfied: setuptools-scm in /Users/weatherford/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages (from python-certifi-win32->arcgis) (7.0.5)
Requirement already satisfied: wrapt>=1.10.4 in /Users/weatherford/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages (from python-certifi-win32->arcgis) (1.12.1)
Requirement already satisfied: certifi in /Users/weatherford/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages (from python-certifi-win32->arcgis) (2022.6.15)
Requirement already satisfied: oauthlib>=3.0.0 in /Users/weatherford/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages (from requests-oauthlib->arcgis) (3.1.0)
Requirement already satisfied: jupyter-core>=4.6.1 in /Users/weatherford/.local/lib/python3.8/site-packages (from notebook->arcgis) (4.11.1)
Requirement already satisfied: prometheus-client in /Users/weatherford/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages (from notebook->arcgis) (0.8.0)
Requirement already satisfied: traitlets>=4.2.1 in /Users/weatherford/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages (from notebook->arcgis) (5.0.4)
Requirement already satisfied: ipykernel in /Users/weatherford/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages (from notebook->arcgis) (5.3.4)
Requirement already satisfied: pyzmq>=17 in /Users/weatherford/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages (from notebook->arcgis) (19.0.2)
Requirement already satisfied: argon2-cffi in /Users/weatherford/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages (from notebook->arcgis) (20.1.0)
Requirement already satisfied: jinja2 in /Users/weatherford/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages (from notebook->arcgis) (3.1.2)
Requirement already satisfied: nbconvert in /Users/weatherford/.local/lib/python3.8/site-packages (from notebook->arcgis) (7.0.0)
Requirement already satisfied: ipython-genutils in /Users/weatherford/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages (from notebook->arcgis) (0.2.0)
Requirement already satisfied: nbformat in /Users/weatherford/.local/lib/python3.8/site-packages (from notebook->arcgis) (5.5.0)
Requirement already satisfied: terminado>=0.8.3 in /Users/weatherford/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages (from notebook->arcgis) (0.9.1)
Requirement already satisfied: Send2Trash in /Users/weatherford/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages (from notebook->arcgis) (1.5.0)
Requirement already satisfied: tornado>=5.0 in /Users/weatherford/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages (from notebook->arcgis) (6.2)
Requirement already satisfied: python-dateutil>=2.1 in /Users/weatherford/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages (from matplotlib->arcgis) (2.8.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /Users/weatherford/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages (from matplotlib->arcgis) (1.2.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in /Users/weatherford/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages (from matplotlib->arcgis) (2.4.7)
Requirement already satisfied: pillow>=6.2.0 in /Users/weatherford/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages (from matplotlib->arcgis) (7.2.0)
Requirement already satisfied: cycler>=0.10 in /Users/weatherford/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages (from matplotlib->arcgis) (0.10.0)
Requirement already satisfied: cffi!=1.11.3,>=1.8 in /Users/weatherford/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages (from cryptography->arcgis) (1.14.3)
Requirement already satisfied: gssapi in /Users/weatherford/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages (from requests-gssapi->arcgis) (1.8.1)
Requirement already satisfied: jupyterlab_server<2.0,>=1.1.5 in /Users/weatherford/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages (from jupyterlab->arcgis) (1.2.0)
Requirement already satisfied: click in /Users/weatherford/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages (from geomet->arcgis) (8.1.3)
Requirement already satisfied: ipython>=4.0.0; python_version >= "3.3" in /Users/weatherford/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages (from ipywidgets>=7->arcgis) (7.18.1)
Requirement already satisfied: pytz>=2020.1 in /Users/weatherford/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages (from pandas>=1.3.5->arcgis) (2020.1)
Requirement already satisfied: jaraco.classes in /Users/weatherford/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages (from keyring>=23.3.*->arcgis) (3.2.2)
Requirement already satisfied: importlib-metadata>=3.6; python_version < "3.10" in /Users/weatherford/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages (from keyring>=23.3.*->arcgis) (4.12.0)

Requirement already satisfied: chardet<4,>=3.0.2 in /Users/weatherford/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages (from requests>=1.27.1->arcgis) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /Users/weatherford/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages (from requests>=1.27.1->arcgis) (2.10)
Requirement already satisfied: tomli>=1.0.0 in /Users/weatherford/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages (from setuptools-scm->python-certifi-win32->arcgis) (2.0.1)
Requirement already satisfied: packaging>=20.0 in /Users/weatherford/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages (from setuptools-scm->python-certifi-win32->arcgis) (20.4)
Requirement already satisfied: setuptools in /Users/weatherford/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages (from setuptools-scm->python-certifi-win32->arcgis) (50.3.0.post20201103)
Requirement already satisfied: typing-extensions in /Users/weatherford/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages (from setuptools-scm->python-certifi-win32->arcgis) (4.3.0)
Requirement already satisfied: appnope; platform_system == "Darwin" in /Users/weatherford/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages (from ipykernel->notebook->arcgis) (0.1.0)
Requirement already satisfied: MarkupSafe>=2.0 in /Users/weatherford/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages (from jinja2->notebook->arcgis) (2.1.1)
Requirement already satisfied: defusedxml in /Users/weatherford/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages (from nbconvert->notebook->arcgis) (0.6.0)
Requirement already satisfied: mistune<3,>=2.0.3 in /Users/weatherford/.local/lib/python3.8/site-packages (from nbconvert->notebook->arcgis) (2.0.4)
Requirement already satisfied: beautifulsoup4 in /Users/weatherford/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages (from nbconvert->notebook->arcgis) (4.9.3)
Requirement already satisfied: bleach in /Users/weatherford/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages (from nbconvert->notebook->arcgis) (3.2.1)
Requirement already satisfied: jupyterlab-pygments in /Users/weatherford/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages (from nbconvert->notebook->arcgis) (0.1.2)
Requirement already satisfied: pygments>=2.4.1 in /Users/weatherford/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages (from nbconvert->notebook->arcgis) (2.7.1)
Requirement already satisfied: nbclient>=0.5.0 in /Users/weatherford/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages (from nbconvert->notebook->arcgis) (0.5.0)
Requirement already satisfied: pandocfilters>=1.4.1 in /Users/weatherford/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages (from nbconvert->notebook->arcgis) (1.4.2)
Requirement already satisfied: tinycss2 in /Users/weatherford/.local/lib/python3.8/site-packages (from nbconvert->notebook->arcgis) (1.1.1)
Requirement already satisfied: jsonschema>=2.6 in /Users/weatherford/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages (from nbformat->notebook->arcgis) (3.2.0)
Requirement already satisfied: fastjsonschema in /Users/weatherford/.local/lib/python3.8/site-packages (from nbformat->notebook->arcgis) (2.16.1)
Requirement already satisfied: ptyprocess; os_name != "nt" in /Users/weatherford/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages (from terminado>=0.8.3->notebook->arcgis) (0.6.0)
Requirement already satisfied: pycparser in /Users/weatherford/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages (from cffi!=1.11.3,>=1.8->cryptography->arcgis) (2.20)
Requirement already satisfied: decorator in /Users/weatherford/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages (from gssapi->requests-gssapi->arcgis) (4.4.2)
Requirement already satisfied: json5 in /Users/weatherford/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages (from jupyterlab_server<2.0,>=1.1.5->jupyterlab->arcgis) (0.9.9)
Requirement already satisfied: jedi>=0.10 in /Users/weatherford/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7->arcgis) (0.17.2)
Requirement already satisfied: backcall in /Users/weatherford/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7->arcgis) (0.2.0)
Requirement already satisfied: pickleshare in /Users/weatherford/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7->arcgis) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /Users/weatherford/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7->arcgis) (3.0.8)
Requirement already satisfied: pexpect>4.3; sys_platform != "win32" in /Users/weatherford/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7->arcgis) (4.8.0)
Requirement already satisfied: more-itertools in /Users/weatherford/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages (from jaraco.classes->keyring>=23.3.*->arcgis) (8.14.0)
Requirement already satisfied: zipp>=0.5 in /Users/weatherford/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages (from importlib-metadata>=3.6; python_version < "3.10"->keyring>=23.3.*->arcgis) (3.3.0)
Requirement already satisfied: soupsieve>1.2; python_version >= "3.0" in /Users/weatherford/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages (from beautifulsoup4->nbconvert->notebook->arcgis) (2.0.1)
Requirement already satisfied: webencodings in /Users/weatherford/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages (from bleach->nbconvert->notebook->arcgis) (0.5.1)
Requirement already satisfied: async-generator in /Users/weatherford/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages (from nbclient>=0.5.0->nbconvert->notebook->arcgis) (1.10)
Requirement already satisfied: nest-asyncio in /Users/weatherford/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages (from nbclient>=0.5.0->nbconvert->notebook->arcgis) (1.5.5)
Requirement already satisfied: attrs>=17.4.0 in /Users/weatherford/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages (from jsonschema>=2.6->nbformat->notebook->arcgis) (20.2.0)
Requirement already satisfied: pyrsistent>=0.14.0 in /Users/weatherford/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages (from jsonschema>=2.6->nbformat->notebook->arcgis) (0.17.3)
Requirement already satisfied: parso<0.8.0,>=0.7.0 in /Users/weatherford/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages (from jedi>=0.10->ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7->arcgis) (0.7.1)
Requirement already satisfied: wcwidth in /Users/weatherford/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7->arcgis) (0.2.5)
Note: you may need to restart the kernel to use updated packages.

In [14]:
from arcgis.geocoding import reverse_geocode
from arcgis.geometry import Geometry
from arcgis.gis import GIS
import pandas as pd

gis = GIS("http://www.arcgis.com", "Pedro_Velazquez_LearnArcGIS", "aGVseN88W9_d*EZ")

def get_zip(df, lon_field, lat_field):
    location = reverse_geocode((Geometry({"x":float(df[lon_field]), "y":float(df[lat_field]), "spatialReference":{"wkid": 4326}})))
    return location['address']['Postal']


df1["zipcode"] = df1.apply(get_zip, axis=1, lat_field='latitude', lon_field='longitude')

In [15]:
airbnb_save = df1.copy(deep=True)

In [16]:
df1.loc[df1.zipcode == ''].index

Int64Index([ 130,  159,  964,  988, 1590, 1622, 1631, 1767, 1827, 1850, 2432,
            2542, 2782, 2888, 2994, 3017, 3153, 3372, 3459, 3667, 3812, 4042,
            4280, 4400, 4739, 4771, 4774, 4788, 4802, 5094, 5096, 5101, 5177,
            5211, 5286, 5354],
           dtype='int64')

In [17]:
df1.drop(index = df1.loc[df1.zipcode == ''].index, inplace = True )

In [18]:
df1['zipcode'].astype('int')

0       98146
1       98146
2       98146
3       98103
4       98108
        ...
5349    98178
5350    98102
5351    98155
5352    98146
5353    98034
Name: zipcode, Length: 5319, dtype: int64

In [20]:
#coordinates situated the property in the water, replacing here with the listing's neighborhood's zip code
#df1["zipcode"] = 
df1.loc[5354, "zipcode"] = 98116

In [21]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5320 entries, 0 to 5354
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   5319 non-null   float64
 1   neighbourhood_group  5319 non-null   object
 2   neighbourhood        5319 non-null   object
 3   latitude             5319 non-null   float64
 4   longitude            5319 non-null   float64
 5   room_type            5319 non-null   object
 6   price                5319 non-null   float64
 7   zipcode              5320 non-null   object
dtypes: float64(4), object(4)
memory usage: 503.1+ KB

In [22]:
df1.dropna(inplace = True)

In [23]:
df1['zipcode'] = df1['zipcode'].str.replace(" ", "")
df1['zipcode'] = df1['zipcode'].str.replace(".", "")

<ipython-input-23-ac02068b94e1>:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df1['zipcode'] = df1['zipcode'].str.replace(".", "")

In [24]:
df1

,id,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,zipcode
0,5.803655e+17,Delridge,Highland Park,47.51075,-122.34122,Entire home/apt,149.0,98146
1,5.164039e+06,West Seattle,Arbor Heights,47.49770,-122.37003,Entire home/apt,98.0,98146
2,3.344883e+07,Delridge,Highland Park,47.50452,-122.34009,Entire home/apt,335.0,98146
3,6.606000e+03,Other neighborhoods,Wallingford,47.65444,-122.33629,Entire home/apt,99.0,98103
4,9.419000e+03,Other neighborhoods,Georgetown,47.55017,-122.31937,Private room,80.0,98108
...,...,...,...,...,...,...,...,...
5349,3.475513e+07,Rainier Valley,Rainier Beach,47.50694,-122.23821,Entire home/apt,81.0,98178
5350,1.673366e+07,Cascade,Eastlake,47.64439,-122.32766,Entire home/apt,249.0,98102
5351,2.584679e+07,Northgate,Pinehurst,47.74243,-122.32117,Entire home/apt,214.0,98155
5352,4.969245e+07,Delridge,South Delridge,47.51330,-122.35545,Entire home/apt,150.0,98146
5353,5.877850e+17,Other neighborhoods,Sand Point,47.70310,-122.24173,Entire home/apt,171.0,98034

In [25]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5319 entries, 0 to 5353
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   5319 non-null   float64
 1   neighbourhood_group  5319 non-null   object
 2   neighbourhood        5319 non-null   object
 3   latitude             5319 non-null   float64
 4   longitude            5319 non-null   float64
 5   room_type            5319 non-null   object
 6   price                5319 non-null   float64
 7   zipcode              5319 non-null   object
dtypes: float64(4), object(4)
memory usage: 374.0+ KB

In [26]:
df1.neighbourhood.unique()

array(['Highland Park', 'Arbor Heights', 'Wallingford', 'Georgetown',
       'Fairmount Park', 'Whittier Heights', 'Loyal Heights', 'Eastlake',
       'Alki', 'South Delridge', 'Fremont', 'Atlantic', 'Broadview',
       'Green Lake', 'North Queen Anne', 'Portage Bay',
       'Lower Queen Anne', 'Phinney Ridge', 'Harrison/Denny-Blaine',
       'Crown Hill', 'Maple Leaf', 'East Queen Anne', 'Lawton Park',
       'Pioneer Square', 'Mid-Beacon Hill', 'West Queen Anne',
       'North Beacon Hill', 'Mount Baker', 'Belltown', 'First Hill',
       'Ravenna', 'Broadway', 'Stevens', 'West Woodland', 'North Admiral',
       'Greenwood', 'International District', 'Haller Lake',
       'Madison Park', 'Fauntleroy', 'Wedgwood', 'Cedar Park',
       'University District', 'Columbia City', 'Madrona', 'Mann',
       'Matthews Beach', 'Genesee', 'Central Business District', 'Minor',
       'Leschi', 'Briarcliff', 'Sunset Hill', 'North Delridge', 'Bryant',
       'Adams', 'North Beach/Blue Ridge', 'Seward Park', 'Pike-Market',
       'High Point', 'Yesler Terrace', 'Bitter Lake', 'Brighton',
       'Interbay', 'View Ridge', 'Windermere', 'Harbor Island', 'Dunlap',
       'Rainier Beach', 'Seaview', 'Victory Heights',
       'Southeast Magnolia', 'Olympic Hills', 'Roosevelt', 'Laurelhurst',
       'Gatewood', 'North College Park', 'Riverview', 'Meadowbrook',
       'Pinehurst', 'Montlake', 'Rainier View', 'South Beacon Hill',
       'Westlake', 'Industrial District', 'South Park',
       'South Lake Union', 'Roxhill', 'Holly Park', 'Sand Point'],
      dtype=object)

In [27]:
df1.price.describe()

count    5319.000000
mean      196.270916
std       152.240014
min         0.000000
25%       110.000000
50%       158.000000
75%       239.000000
max      3750.000000
Name: price, dtype: float64

In [28]:
df1.loc[df1.price == 0]
df1.drop(index = [2801,3170], inplace = True)

In [29]:
zip_price_mean = df1.groupby(by=["zipcode"]).mean()
zip_price_mean

                   id   latitude   longitude       price
zipcode
98028    5.829030e+17  47.740110 -122.265170  385.000000
98034    1.959283e+17  47.710533 -122.248450  113.666667
98040    1.972584e+17  47.556958 -122.249038  290.166667
98057    1.775044e+07  47.489650 -122.225220  225.000000
98101    8.319577e+16  47.610936 -122.335671  236.401487
98102    5.724235e+16  47.630690 -122.321672  208.516129
98103    7.954605e+16  47.669819 -122.343402  198.239224
98104    1.105678e+17  47.602775 -122.328581  168.133333
98105    8.767323e+16  47.663482 -122.309163  159.490000
98106    6.652046e+16  47.541882 -122.358118  176.106557
98107    1.198376e+17  47.667910 -122.374809  211.581498
98108    1.386757e+17  47.549144 -122.307968  155.711538
98109    1.466462e+17  47.627789 -122.345090  210.720930
98112    7.860926e+16  47.629479 -122.301355  233.719457
98115    5.428200e+16  47.683634 -122.304469  169.318386
98116    7.703663e+16  47.574526 -122.398955  216.022857
98117    5.230738e+16  47.685103 -122.377835  179.677419
98118    7.598362e+16  47.543534 -122.277837  171.003484
98119    6.924101e+16  47.637914 -122.367207  260.294643
98121    1.112441e+17  47.614837 -122.345863  217.373494
98122    8.991994e+16  47.610529 -122.309388  208.050691
98125    1.056035e+17  47.717467 -122.304702  160.104348
98126    3.922233e+16  47.556849 -122.375475  169.449438
98133    9.104818e+16  47.720757 -122.345298  139.547826
98134    3.238220e+07  47.586563 -122.325736  339.000000
98136    3.963126e+16  47.541617 -122.388208  181.091954
98144    6.664053e+16  47.585864 -122.303163  194.319728
98146    5.113193e+16  47.505161 -122.355293  136.758621
98155    9.860969e+16  47.739865 -122.301011  130.418605
98168    1.733117e+17  47.500964 -122.310838  155.425926
98170    5.948903e+17  47.621560 -122.336310  259.000000
98177    1.115551e+17  47.710898 -122.366177  183.161290
98178    7.345680e+16  47.500403 -122.243751  170.121951
98195    2.442922e+07  47.659620 -122.316277  169.000000
98199    6.788531e+16  47.648094 -122.393581  214.378947

In [30]:
nb_grp_price_mean = df1.groupby(by=["neighbourhood_group"]).mean()
nb_grp_price_mean

                               id   latitude   longitude       price
neighbourhood_group
Ballard              8.569414e+16  47.674649 -122.381264  197.224832
Beacon Hill          1.001847e+17  47.561675 -122.303450  176.395161
Capitol Hill         7.801577e+16  47.626378 -122.313881  201.818557
Cascade              1.719941e+17  47.628621 -122.333760  210.684211
Central Area         7.372354e+16  47.606792 -122.302384  231.745995
Delridge             8.135581e+16  47.531548 -122.352953  165.971154
Downtown             9.490023e+16  47.611036 -122.337402  213.772932
Interbay             1.479006e+16  47.645055 -122.378380  161.405405
Lake City            9.915475e+16  47.721846 -122.291821  165.600000
Magnolia             7.165671e+16  47.648344 -122.393886  215.144444
Northgate            1.017677e+17  47.711188 -122.326508  129.058480
Other neighborhoods  7.724343e+16  47.671097 -122.335614  190.370664
Queen Anne           9.053392e+16  47.634356 -122.358737  247.687166
Rainier Valley       7.138796e+16  47.538615 -122.272932  169.262431
Seward Park          1.073838e+17  47.556160 -122.265569  221.521739
University District  8.983519e+16  47.662954 -122.313386  140.312500
West Seattle         5.491320e+16  47.558739 -122.390174  193.193182

In [31]:
nb_price_mean = df1.groupby(by=["neighbourhood"]).mean()
nb_price_mean

                            id   latitude   longitude       price
neighbourhood
Adams             1.559974e+17  47.670845 -122.387109  204.171717
Alki              8.317023e+16  47.575362 -122.407803  242.702381
Arbor Heights     4.141188e+16  47.506011 -122.372033  142.517241
Atlantic          9.732251e+16  47.595308 -122.304767  221.558140
Belltown          1.060489e+17  47.615314 -122.344299  221.644689
...                        ...        ...         ...         ...
West Woodland     9.204899e+16  47.669189 -122.367525  223.871429
Westlake          1.738901e+17  47.635468 -122.341469  180.250000
Whittier Heights  2.991869e+07  47.681404 -122.372755  151.425532
Windermere        3.068954e+07  47.667632 -122.271065  206.166667
Yesler Terrace    5.703722e+16  47.605270 -122.320145  172.857143

[90 rows x 4 columns]

In [32]:
df1.to_csv('airbnb_data_final.csv')

In [33]:
zip_price_mean.to_csv('airbnb_zipcode_price.csv')