# Airbnb Profitability Function

The purpose is to create a function to estimate if it is profitable for a existing or perspective homeowner to invest in a property to Airbnb. 

Effectively, the forumla will take this form:

        Profit = Airbnb Revenue - Mortgage Payments

Airbnb revenue and the cost of the mortgage will be calculated over a 12 month period, so profit will represent yearly profit.

Average mortgage rate for a 30-year mortgage for the state of Washington:  6.20% (as of Wednesday, September 14th, 2022)
[Source](https://www.bankrate.com/mortgages/mortgage-rates/washington/?mortgageType=Refinance&partnerId=Refinance&pid=br3&pointsChanged=false&refinanceCashOutAmount=0&refinanceLoanAmount=765600&refinanceLoanTerms=30yr%2C15yr&refinancePoints=All&refinancePropertyType=SingleFamily&refinancePropertyUse=PrimaryResidence&refinancePropertyValue=957000&searchChanged=false&showingStacked=all&ttcid&userCreditScore=740&userFha=false&userVeteranStatus=NoMilitaryService&zipCode=10270)

Average Airbnb Occupancy Rate for King County: 87.91% 
    [Source](https://www.dpgo.com/go/top-10-vacation-rental-locations/)

In [71]:
avg_mortgage_rate = 0.0620
avg_airbnb_occupancy = .8791

Load in Airbnb Average Price and House Price data based on Seattle zipcode

In [143]:
import pandas as pd

seattle_df = pd.read_csv('/Users/weatherford/Documents/Flatiron/Phase_2_Housing_Project/data/seattle.csv')
seattle_df = seattle_df.drop(columns= 'Unnamed: 0')
seattle_df

,id_x,date,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,sqft_above,sqft_basement,...,renov_yr_clean,view_ord,condition_ord,grade_ord,age,id_y,latitude,longitude,airbnb_avg_price,house_price
0,7129300520,2014-10-13,3,1.00,1180,5650,1.0,0,1180,0.0,...,1955.0,0.0,2.0,4.0,60,7.345680e+16,47.500403,-122.243751,170.121951,221900.0
1,4060000240,2014-06-23,2,1.00,880,6780,1.0,0,880,0.0,...,1945.0,0.0,3.0,3.0,70,7.345680e+16,47.500403,-122.243751,170.121951,205425.0
2,4058801670,2014-07-17,3,2.25,2100,8201,1.0,0,1620,480.0,...,1967.0,2.0,2.0,5.0,48,7.345680e+16,47.500403,-122.243751,170.121951,445000.0
3,2976800796,2014-09-25,3,1.00,1300,5898,1.0,0,1300,0.0,...,1961.0,0.0,2.0,4.0,54,7.345680e+16,47.500403,-122.243751,170.121951,236000.0
4,6874200960,2015-02-27,2,1.00,860,5265,1.0,0,860,0.0,...,1931.0,0.0,2.0,3.0,84,7.345680e+16,47.500403,-122.243751,170.121951,170000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9351,2895800590,2014-10-20,5,2.50,2170,2752,2.0,0,2170,0.0,...,2014.0,0.0,2.0,5.0,1,6.652046e+16,47.541882,-122.358118,176.106557,359800.0
9352,3438503021,2014-11-05,3,2.50,2430,7049,2.0,0,2430,0.0,...,2007.0,0.0,2.0,5.0,8,6.652046e+16,47.541882,-122.358118,176.106557,443000.0
9353,880000205,2014-07-29,3,2.00,1260,1125,2.0,0,810,450.0,...,2011.0,0.0,2.0,4.0,4,6.652046e+16,47.541882,-122.358118,176.106557,249000.0
9354,3438501329,2014-05-20,2,2.50,1590,2656,2.0,0,1220,370.0,...,2009.0,0.0,2.0,4.0,6,6.652046e+16,47.541882,-122.358118,176.106557,305000.0
9355,3438501862,2014-05-13,3,2.50,1450,5008,1.0,0,840,610.0,...,2007.0,0.0,2.0,4.0,8,6.652046e+16,47.541882,-122.358118,176.106557,330000.0

In [144]:
len(seattle_df.zipcode.unique())

28

In [145]:
airbnb_revenue = zip_price['price'] * (365) * avg_airbnb_occupancy
airbnb_revenue

0     123535.527500
1      36472.393833
2      93106.213583
3      72196.087500
4      75854.499732
5      66906.883097
6      63609.317208
7      53949.194867
8      51175.795535
9      56507.575225
10     67890.472570
11     49963.394913
12     67614.340965
13     74993.912751
14     54329.444381
15     69315.578206
16     57653.363065
17     54870.144519
18     83521.132496
19     69748.959072
20     66757.537376
21     51372.922243
22     54371.495410
23     44776.920278
24    108775.438500
25     58107.246925
26     62351.662568
27     43881.943759
28     41847.613302
29     49871.749991
30     83105.718500
31     58771.237968
32     54587.285671
33     54227.283500
34     68788.094411
Name: price, dtype: float64

In [146]:
airbnb_revenue = seattle_df['airbnb_avg_price'] * (365) * avg_airbnb_occupancy
airbnb_revenue

0       54587.285671
1       54587.285671
2       54587.285671
3       54587.285671
4       54587.285671
            ...
9351    56507.575225
9352    56507.575225
9353    56507.575225
9354    56507.575225
9355    56507.575225
Name: airbnb_avg_price, Length: 9356, dtype: float64

Mortgage Cost

$$Mortgage Cost = P  \frac{r (1+ r)^{n}}{ (1+r)^{n} - 1}$$

Where P equals housing price, r equals the interest rate, and n equals the number of payments over the duration of the loan


For our particular model:
- r = 6.20%
- n = 30, as we are calculating yearly mortgage cost for a 30 year mortgage
- P is each house's sale price from the Seattle subset of the King County dataset

In [147]:
seattle_df.columns

Index(['id_x', 'date', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot',
       'floors', 'waterfront', 'sqft_above', 'sqft_basement', 'yr_built',
       'yr_renovated', 'zipcode', 'lat', 'long', 'sqft_living15', 'sqft_lot15',
       'renov_yr_clean', 'view_ord', 'condition_ord', 'grade_ord', 'age',
       'id_y', 'latitude', 'longitude', 'airbnb_avg_price', 'house_price'],
      dtype='object')

In [148]:
len(seattle_df['zipcode'].unique())

28

In [152]:
360000 * (avg_mortgage_rate * (1+avg_mortgage_rate)**30)/(((1+0.062)**30-1)) #Test of the formula

26715.736475425732

In [153]:
annual_mortgage = seattle_df['house_price'] * (avg_mortgage_rate * (1+avg_mortgage_rate)**30)/((1+0.062)**30-1)
annual_mortgage

0       16467.283122
1       15244.667126
2       33023.618699
3       17513.649467
4       12615.764447
            ...
9351    26700.894400
9352    32875.197941
9353    18478.384396
9354    22634.165625
9355    24489.425102
Name: house_price, Length: 9356, dtype: float64

In [158]:
profit = airbnb_revenue - annual_mortgage
profit

0       38120.002549
1       39342.618544
2       21563.666972
3       37073.636204
4       41971.521224
            ...
9351    29806.680826
9352    23632.377285
9353    38029.190830
9354    33873.409600
9355    32018.150123
Length: 9356, dtype: float64